In [16]:
# elo algorithm
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib as mpl

In [17]:
# season data for the 2020_21 season
df = pd.read_csv('season_2019_20_table.csv')
df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Liverpool,38,32,3,3,85,33,52,99,71.5,40.0,31.5,0.83,"41,955",Mohamed Salah - 19,Alisson,â†’ UEFA Champions League via league finish
1,2,Manchester City,38,26,3,9,102,35,67,81,93.0,34.7,58.3,1.53,"37,097",Raheem Sterling - 20,Ederson,â†’ UEFA Champions League via league finish
2,3,Manchester Utd,38,18,12,8,66,36,30,66,59.4,37.4,22.0,0.58,"57,415","Anthony Martial, Marcus Rashford - 17",David de Gea,â†’ UEFA Champions League via league finish
3,4,Chelsea,38,20,6,12,69,54,15,66,66.6,37.9,28.6,0.75,"32,023",Tammy Abraham - 15,Kepa Arrizabalaga,â†’ UEFA Champions League via league finish
4,5,Leicester City,38,18,8,12,67,41,26,62,61.6,44.5,17.1,0.45,"25,312",Jamie Vardy - 23,Kasper Schmeichel,â†’ UEFA Europa League via league finish

In [18]:
team_list = df['Squad'].to_list()
team_list

['Liverpool',
 'Manchester City',
 'Manchester Utd',
 'Chelsea',
 'Leicester City',
 'Tottenham',
 'Wolves',
 'Arsenal',
 'Sheffield Utd',
 'Burnley',
 'Southampton',
 'Everton',
 'Newcastle Utd',
 'Crystal Palace',
 'Brighton',
 'West Ham',
 'Aston Villa',
 'Bournemouth',
 'Watford',
 'Norwich City']

In [19]:
#initialize a dictionary of teams playing in the 2020-2021 season. 
team_dictionary = dict.fromkeys(team_list, 1000)
team_dictionary

{'Liverpool': 1000,
 'Manchester City': 1000,
 'Manchester Utd': 1000,
 'Chelsea': 1000,
 'Leicester City': 1000,
 'Tottenham': 1000,
 'Wolves': 1000,
 'Arsenal': 1000,
 'Sheffield Utd': 1000,
 'Burnley': 1000,
 'Southampton': 1000,
 'Everton': 1000,
 'Newcastle Utd': 1000,
 'Crystal Palace': 1000,
 'Brighton': 1000,
 'West Ham': 1000,
 'Aston Villa': 1000,
 'Bournemouth': 1000,
 'Watford': 1000,
 'Norwich City': 1000}

In [21]:
# loading the fixtures data
fixture_data = pd.read_csv('match_fixtures_2019_20.csv')
fixture_data.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Fri,09-08-2019,20:00 (15:00),Liverpool,1.7,4–1,1.0,Norwich City,"53,333",Anfield,Michael Oliver,Match Report,NaN
1,1.0,Sat,10-08-2019,12:30 (07:30),West Ham,0.8,0–5,3.1,Manchester City,"59,870",London Stadium,Mike Dean,Match Report,NaN
2,1.0,Sat,10-08-2019,15:00 (10:00),Burnley,0.7,3–0,0.8,Southampton,"19,784",Turf Moor,Graham Scott,Match Report,NaN
3,1.0,Sat,10-08-2019,15:00 (10:00),Watford,0.9,0–3,0.7,Brighton,"20,245",Vicarage Road Stadium,Craig Pawson,Match Report,NaN
4,1.0,Sat,10-08-2019,15:00 (10:00),Crystal Palace,0.7,0–0,1.0,Everton,"25,151",Selhurst Park,Jonathan Moss,Match Report,NaN

In [22]:
fixture_data.drop(['Wk', 'Day','Date','Time','xG','Attendance','Venue','xG.1','Referee','Match Report','Notes'],axis=1, inplace=True)

In [23]:
fixture_data.head()

             Home Score             Away
0       Liverpool   4–1     Norwich City
1        West Ham   0–5  Manchester City
2         Burnley   3–0      Southampton
3         Watford   0–3         Brighton
4  Crystal Palace   0–0          Everton

In [24]:
fixture_data = fixture_data.dropna()

In [25]:
fixture_data[['Home_goals','Away_goals']] = fixture_data.Score.str.split("–",expand=True)
fixture_data.drop('Score',axis=1,inplace=True)
fixture_data.head()

             Home             Away Home_goals Away_goals
0       Liverpool     Norwich City          4          1
1        West Ham  Manchester City          0          5
2         Burnley      Southampton          3          0
3         Watford         Brighton          0          3
4  Crystal Palace          Everton          0          0

In [26]:
import math

In [27]:
def elo(h_rating,a_rating,Home_goals,Away_goals):
    h_expected = 1/(1+math.pow(10,(a_rating-h_rating)/400))
    a_expected = 1/(1+math.pow(10,(h_rating-a_rating)/400))
    if(Home_goals==Away_goals):
        h_rating = h_rating+50*(0.5-h_expected)
        a_rating = a_rating+50*(0.5-a_expected)
    elif(Home_goals>Away_goals):
        h_rating = h_rating+50*(1-h_expected)
        a_rating = a_rating+50*(0-a_expected)
    else:
        h_rating = h_rating+50*(0-h_expected)
        a_rating = a_rating+50*(1-a_expected)
    return h_rating,a_rating

In [28]:
w_rating,l_rating = elo(1000,1000,0,0)
w_rating2,l_rating2 = elo(1000,1000,3,0)
w_rating3,l_rating3 = elo(1000,1000,0,3)
print(w_rating,l_rating)
print(w_rating2,l_rating2)
print(w_rating3,l_rating3)

1000.0 1000.0
1025.0 975.0
975.0 1025.0

In [29]:
# first loop through the 
for i in fixture_data.iterrows():
    Home_team = i[1]['Home']
    Away_team = i[1]['Away']
    Home_goals = i[1]['Home_goals']
    Away_goals = i[1]['Away_goals']
    h_rating,a_rating = elo(team_dictionary[Home_team],team_dictionary[Away_team],Home_goals,Away_goals)
    team_dictionary[Home_team] = h_rating
    team_dictionary[Away_team] = a_rating
team_dictionary

{'Liverpool': 1226.860412142922,
 'Manchester City': 1169.9060128876831,
 'Manchester Utd': 1134.2425362678764,
 'Chelsea': 1067.9801425091011,
 'Leicester City': 976.3390223630888,
 'Tottenham': 1069.354163771305,
 'Wolves': 1051.9684576905947,
 'Arsenal': 1051.05990088829,
 'Sheffield Utd': 992.1380081160407,
 'Burnley': 1039.9514966072031,
 'Southampton': 1048.704751642658,
 'Everton': 981.4069879235244,
 'Newcastle Utd': 924.2305881038552,
 'Crystal Palace': 899.2682230996616,
 'Brighton': 971.7018817974194,
 'West Ham': 950.6518634239809,
 'Aston Villa': 923.8555211040939,
 'Bournemouth': 884.3515006553469,
 'Watford': 885.4655283470769,
 'Norwich City': 750.5630006582777}

In [30]:
df = pd.read_csv('season_2020_21.csv')
df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester City,38,27,5,6,83,32,51,86,73.3,31.4,42.0,1.10,526,Ä°lkay GÃ¼ndoÄŸan - 13,Ederson,â†’ UEFA Champions League via league finish
1,2,Manchester Utd,38,21,11,6,73,44,29,74,60.2,42.2,18.0,0.47,526,Bruno Fernandes - 18,David de Gea,â†’ UEFA Champions League via league finish
2,3,Liverpool,38,20,9,9,68,42,26,69,72.6,45.3,27.3,0.72,837,Mohamed Salah - 22,Alisson,â†’ UEFA Champions League via league finish
3,4,Chelsea,38,19,10,9,58,36,22,67,64.0,32.8,31.2,0.82,526,Jorginho - 7,Edouard Mendy,â†’ UEFA Champions League via league finish
4,5,Leicester City,38,20,6,12,68,50,18,66,56.0,47.7,8.3,0.22,421,Jamie Vardy - 15,Kasper Schmeichel,â†’ UEFA Europa League via cup win

In [31]:
team_list = df['Squad'].to_list()
team_list

['Manchester City',
 'Manchester Utd',
 'Liverpool',
 'Chelsea',
 'Leicester City',
 'West Ham',
 'Tottenham',
 'Arsenal',
 'Leeds United',
 'Everton',
 'Aston Villa',
 'Newcastle Utd',
 'Wolves',
 'Crystal Palace',
 'Southampton',
 'Brighton',
 'Burnley',
 'Fulham',
 'West Brom',
 'Sheffield Utd']

In [33]:
for i in team_list:
    if i not in team_dictionary.keys():
        team_dictionary[i] = min(team_dictionary.values())
team_dictionary

{'Liverpool': 1226.860412142922,
 'Manchester City': 1169.9060128876831,
 'Manchester Utd': 1134.2425362678764,
 'Chelsea': 1067.9801425091011,
 'Leicester City': 976.3390223630888,
 'Tottenham': 1069.354163771305,
 'Wolves': 1051.9684576905947,
 'Arsenal': 1051.05990088829,
 'Sheffield Utd': 992.1380081160407,
 'Burnley': 1039.9514966072031,
 'Southampton': 1048.704751642658,
 'Everton': 981.4069879235244,
 'Newcastle Utd': 924.2305881038552,
 'Crystal Palace': 899.2682230996616,
 'Brighton': 971.7018817974194,
 'West Ham': 950.6518634239809,
 'Aston Villa': 923.8555211040939,
 'Bournemouth': 884.3515006553469,
 'Watford': 885.4655283470769,
 'Norwich City': 750.5630006582777,
 'Leeds United': 750.5630006582777,
 'Fulham': 750.5630006582777,
 'West Brom': 750.5630006582777}

In [38]:
fixture_data = pd.read_csv('match_fixtures_2020_21.csv')
fixture_data.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1,Sat,12-09-2020,12:30 (07:30),Fulham,0.2,0–3,1.8,Arsenal,NaN,Craven Cottage,Chris Kavanagh,Match Report,NaN
1,1,Sat,12-09-2020,15:00 (10:00),Crystal Palace,0.7,1–0,0.8,Southampton,NaN,Selhurst Park,Jonathan Moss,Match Report,NaN
2,1,Sat,12-09-2020,17:30 (12:30),Liverpool,3.3,4–3,0.6,Leeds United,NaN,Anfield,Michael Oliver,Match Report,NaN
3,1,Sat,12-09-2020,20:00 (15:00),West Ham,1.1,0–2,1.5,Newcastle Utd,NaN,London Stadium,Stuart Attwell,Match Report,NaN
4,1,Sun,13-09-2020,14:00 (09:00),West Brom,0.5,0–3,2.2,Leicester City,NaN,The Hawthorns,Anthony Taylor,Match Report,NaN

In [39]:
fixture_data.drop(['Wk', 'Day','Date','Time','xG','Attendance','Venue','xG.1','Referee','Match Report','Notes'],axis=1, inplace=True)

In [40]:
fixture_data = fixture_data.dropna()

In [41]:
fixture_data[['Home_goals','Away_goals']] = fixture_data.Score.str.split("–",expand=True)
fixture_data.drop('Score',axis=1,inplace=True)
fixture_data.head()

             Home            Away Home_goals Away_goals
0          Fulham         Arsenal          0          3
1  Crystal Palace     Southampton          1          0
2       Liverpool    Leeds United          4          3
3        West Ham   Newcastle Utd          0          2
4       West Brom  Leicester City          0          3

In [42]:
# first loop through the 
for i in fixture_data.iterrows():
    Home_team = i[1]['Home']
    Away_team = i[1]['Away']
    Home_goals = i[1]['Home_goals']
    Away_goals = i[1]['Away_goals']
    h_rating,a_rating = elo(team_dictionary[Home_team],team_dictionary[Away_team],Home_goals,Away_goals)
    team_dictionary[Home_team] = h_rating
    team_dictionary[Away_team] = a_rating
team_dictionary

{'Liverpool': 1137.1607283030776,
 'Manchester City': 1196.0702862030973,
 'Manchester Utd': 1124.1904663153762,
 'Chelsea': 1094.377064184862,
 'Leicester City': 1014.880709907937,
 'Tottenham': 1019.457706506669,
 'Wolves': 906.8306476415637,
 'Arsenal': 1097.5120322288342,
 'Sheffield Utd': 829.7617647000814,
 'Burnley': 881.3072850075173,
 'Southampton': 881.2223161835115,
 'Everton': 988.6904482389446,
 'Newcastle Utd': 979.6577034494416,
 'Crystal Palace': 905.5559249678726,
 'Brighton': 954.3956856275228,
 'West Ham': 1053.4267978263988,
 'Aston Villa': 995.7093858180771,
 'Bournemouth': 884.3515006553469,
 'Watford': 885.4655283470769,
 'Norwich City': 750.5630006582777,
 'Leeds United': 1054.314329766986,
 'Fulham': 803.8366398612859,
 'West Brom': 812.9510495750761}

In [46]:
sorted_values = sorted(team_dictionary.values(),reverse=True) # Sort the values
sorted_dict = {}

for i in sorted_values:
    for k in team_dictionary.keys():
        if team_dictionary[k] == i:
            sorted_dict[k] = team_dictionary[k]
            break
sorted_dict

{'Manchester City': 1196.0702862030973,
 'Liverpool': 1137.1607283030776,
 'Manchester Utd': 1124.1904663153762,
 'Arsenal': 1097.5120322288342,
 'Chelsea': 1094.377064184862,
 'Leeds United': 1054.314329766986,
 'West Ham': 1053.4267978263988,
 'Tottenham': 1019.457706506669,
 'Leicester City': 1014.880709907937,
 'Aston Villa': 995.7093858180771,
 'Everton': 988.6904482389446,
 'Newcastle Utd': 979.6577034494416,
 'Brighton': 954.3956856275228,
 'Wolves': 906.8306476415637,
 'Crystal Palace': 905.5559249678726,
 'Watford': 885.4655283470769,
 'Bournemouth': 884.3515006553469,
 'Burnley': 881.3072850075173,
 'Southampton': 881.2223161835115,
 'Sheffield Utd': 829.7617647000814,
 'West Brom': 812.9510495750761,
 'Fulham': 803.8366398612859,
 'Norwich City': 750.5630006582777}